In [21]:
import pandas as pd
import numpy as np
import os

In [22]:
data = []
xMean = []
yMean = []
xStd = []
yStd = []
Range = []
corr = []

for i in range(0,6):
    d = pd.read_csv('data-'+str(i+1)+'.csv')    
    data.append(d)

In [23]:
for i in range(0,6):
    xMean.append(data[i]['x'].mean())
    yMean.append(data[i]['y'].mean())
    xStd.append(data[i]['x'].std())
    yStd.append(data[i]['y'].std())
    Range.append(str([data[i]['x'].min(),data[i]['x'].min()]))
    corr = data[i].corr()['x']['y']

In [24]:
DF = pd.DataFrame(columns = ["xMean", "yMean", "Range", "xStd", "yStd", "corr"])           
DF['xMean'] = xMean
DF['yMean'] = yMean
DF['Range'] = Range
DF['xStd'] = xStd
DF['yStd'] = yStd
DF['corr'] = corr

In [25]:
DF

,xMean,yMean,Range,xStd,yStd,corr
0,8.717696,12.522874,"[-22.635877790008944, -22.635877790008944]",12.155517,6.639964,0.935069
1,-0.710787,-0.748987,"[-33.2711130771198, -33.2711130771198]",11.481584,6.257918,0.935069
2,0.968907,8.508535,"[-2.4490643296742807, -2.4490643296742807]",2.235558,1.149301,0.935069
3,49.905086,18.553837,"[0.0, 0.0]",28.508611,16.545896,0.935069
4,49.909994,18.555525,"[4.337892453674525, 4.337892453674525]",28.500001,16.540796,0.935069
5,7.216155,7.602215,"[-24.33382075234097, -24.33382075234097]",11.921599,11.764382,0.935069

In [26]:
outfile = "summary.txt"

In [27]:
with open(os.path.join(outfile), 'w') as file:
    DF.to_string(file)